*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,body{
	height: 100%;
}


.agrupar {
	width: 55%;
	height: 100%;
	margin: 0 auto;
	border: 2px solid black;

}

.header {
	width: 100%;
	height: 40%;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.uno {
	width: 50%;
}

.uno:hover {
	background-color: #0c7187 ;
	cursor: pointer;
	border-radius: 50%;
	transition: 2s all ease;
}


.uno1 {
	background: #ff473b;
}

.uno2 {
	background: #919fe7;
}

.main {
	width: 100%;
	
	display: column;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}



 .main .grupo {	
	width: 100%;
	height: 600px;
	position: relative;

	display: flex;
	flex-direction: row;
	justify-content: center;
}



.dos {
	width: 30%;
} 


.dos:hover {
	background-color: #7b7974;
	cursor: pointer;
	border-radius: 50%;
	transition: 2s all ease;
}

.dos1 {
	background: #3bfd70;
}

.dos2 {
	background: #940e00;
}

.dos3 {
	background: #1c213e;

}

.dos4 {
	background: #f3eae8;
}

.main .segun {
	width: 100%;
	height: 300px;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.tres {
	width: 34%;
}

.tres:hover {
	background-color: #eac443;
	cursor: pointer;
	border-radius: 50%;
	transition: 2s all ease;
}

.tres1 {
	background: #8efff8;
}

.tres2 {
	background: #2A6A06;
}

.tres3 {
	background: #0E27DF;
}

.tercer .ultimo {
	width: 100%;
	height: 300px;
	background: #f8efb0;
}


.ultimo:hover {
	background-color: #535b87;
	cursor: pointer;
	border-radius: 50%;
	transition: 2s all ease;
}

footer {
	width: 100%;
	height: 205px;
	background: #AD9AD8;
	padding: 15px;

	display: flex;
	flex-direction: row;
	justify-content: center;
}

.final {
	width: 100px;
	height: 150px;
	margin: 13px;
	background: red;
}

.final:hover {
	background-color: #f3eae8;
	cursor: pointer;
	border-radius: 50%;
	transition: 2s all ease;
}

@media(max-width: 800px) {
	.header {
		height: 150px;
		flex-direction: column;
	}

	.uno {
		height: 100%;
		width: 100%;
	}

	.main .grupo {
		height: 700px;
		flex-direction: column-reverse;
	}

	.dos {
		height: 150px;
		width: 100%;
	}

	.dos1 {
		height: 400px;
		order: 2;
	}

	.dos2 {
		height: 1200px;
		order: 3;
	}

	.dos3 {
		height: 1200px;
		order: 4;
	}
	
	.dos4 {
		height: 400px;
		order: 1;
	}

	.main .segun {
		flex-direction: column;
	}

	.tres {
		height: 150px;
		width: 100%;
	}

	.tres1 {
		height:700px;
		order: 2;
	}

	.tres2 {
		height: 400px;
		order: 3;
	}

	.tres3 {
		height: 410px;
		order: 1;
	}

	
	.tercer .ultimo {
	height: 90px;
	}
 
 	.footer {
 	height: 540px;

 	flex-direction: column;
 	align-items: center;
 	}

	.final {
		width: 300px;
	}

	.final1 {
		background: #32221F;
	}
	.final2 {
		background: #503F8E;
	}

	.final3 {
		background: #635B4F;
	}

	.final4 {
		background: #78DA68;
	}

	.final5 {
		background: #F8EDFA;
	}


	
	